<footer id="footer">
    <div class="line"></div>
    <h3>JC Website</h3>
    <div class="container">
        <section class="contact">
            <h4>Contact information</h4>
            <p>Email: Jcaroromeroprog@gmail.com</p>
            <p>Phone: +34 671332297</p>
        </section>
        <section class="social">
            <h4>Social Media</h4>
            <ul>
                <li><a href="https://www.linkedin.com/in/josecaroprog"><img src="assets/images/linkedin.png"><p>Jose Caro</p></a></li>
                <li><a href="https://github.com/JoseCaro01"><img src="assets/images/github.png"><p>JoseCaro01</p></a></li>
                <li><a href="https://twitter.com/JoseCaaro18"><img src="assets/images/twitter.png"><p>@JoseCaaro18</p></a></li>
            </ul>
        </section>
    </div>
</footer>

