*{
    background-color:#1B2432;
    color: whitesmoke;    
}
h3{
    font-size: calc(0.75em + 1.5vw);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.presentation { 
    grid-area: presentation; 
}
p{
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: justify;
    font-size: calc(0.75em + 0.25vw);
    padding-left: 30px;
    grid-area: "parram";
}
.cv {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    border-radius: 5%;
    color: white;
    background-color:#B76D68;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    justify-content: center;
    padding: 10px; 
}





