<main id="about" class="container">
    <section class="presentation">
        <h3 class="margin">About me</h3>
        <p >My name is Jose Caro, I am a Full stack developer. My career in programming began 
            when I started a cross-platform development course four years ago, where they taught programming for both backend and front-end, using different languages and tecnologies 
            like Java, Springboot, PHP, Angular or Flutter. Currently I have already worked in several companies both as Front-end developer and Back-end developer.</p>
    </section>
    <section class="technologies">
        <h3 class="margin">Technologies</h3>
        <app-tecnologies></app-tecnologies>
    </section>
</main>
<!-- Mirar margin -->