<section class="presentation">
  <h3>About me</h3>
  <p>My name is Jose Caro, I am a Full stack developer. My programming career began
    when I started a cross-platform development course four years ago, where they taught programming for both backend
    and front-end, using different languages and tecnologies
    like Java, Springboot, PHP, Angular or Flutter. Currently I have already worked in several companies both as
    Front-end developer and Back-end developer.</p>
  <div class="cv">
    <a href="assets/CV_Jose.pdf" download>
      Download my CV
    </a>
  </div>
</section>


